### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
# purchase_data = pd.read_csv(file_to_load)

#I'm renaming this. Whomever is reading this, just keep in mind that pd is shorthand for purchase data.
#df is dataframe
pd_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(pd_df["SN"].unique())

#so I hate typing out long variable names BUT I will always explain them at least once!
#tp = total players, _df = data frame. So goes the pattern from now on.
tp_df = pd.DataFrame({"Total Players": [total_players]})

In [3]:
#PLAYER COUNT HERE!
tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.

In [4]:
#Unique Items, noui short for number of unique items
#This abbreviation is horrible. I know. 
noui = len(pd_df["Item ID"].value_counts())

In [5]:
#Average Price
avg = (pd_df["Price"].sum())/len(pd_df)
avg = round(avg, 2)

In [6]:
# Number of Purchases
nop = pd_df["Purchase ID"].count()

In [7]:
#Total Revenue
tr = pd_df["Price"].sum()

* Create a summary data frame to hold the results

In [8]:
summary = pd.DataFrame({"Number of Unique Items":noui, "Average Price":avg, "Number of Purchases": nop, "Total Revenue": tr}, index=[0])

* Optional: give the displayed data cleaner formatting

In [9]:
#how....? Making them dollaradoos?
summary = pd.DataFrame({"Number of Unique Items":noui, "Average Price":avg, "Number of Purchases": nop, "Total Revenue": tr}, index=[0])

summary["Average Price"] = summary["Average Price"].map("${:.2f}".format) 
summary["Total Revenue"] = summary["Total Revenue"].map("${:.2f}".format)

* Display the summary data frame

In [10]:
#PURCHASING ANALYSIS(TOTAL) HERE!
summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
pd_df.sort_values("SN", inplace=True)

In [12]:
#pd_df is short for purchase data, data frame. Aka the source.
#Some people purchase multiple things. Lets drop them.
pd_df_unique = pd_df.drop_duplicates(subset="SN")

#This tells us the number of times uniques show up in Gender col
total_count = pd_df_unique["Gender"].value_counts()
total_count.rename("Total Count", inplace=True)

percent_play = (total_count / (total_count.sum()) )* 100
percent_play = percent_play.round(2)
percent_play.rename("Percentage of Players", inplace=True)

gender_df = pd.concat([total_count, percent_play], axis=1)

In [13]:
#GENDER DEMOGRAPHICS HERE!
gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#Very similar to the activity above except now we don't care about uniques.
purchase_count = pd_df["Gender"].value_counts()
purchase_count.rename("Purchase Count", inplace=True)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [15]:
gender_price_df = pd_df[["Gender", "Price"]]
gender_mean_price_grouped_df = gender_price_df.groupby("Gender").mean()

#We could've also maybe set index to gender and somehow mean a series instead of group by. There's some merit to that for performance arguments' sake.

gender_mean_price_grouped_df["Price"] = gender_mean_price_grouped_df["Price"].map("${:.2f}".format)

# type(gender_mean_price_df) #Yep. Still a DF. Lets make it a series.
gender_mean_price = gender_mean_price_grouped_df["Price"].rename("Average Purchase Price")

In [16]:
gender_price_grouped_df = gender_price_df.groupby("Gender")

total_purchase_value_df = gender_price_grouped_df.sum()

total_purchase_value_df["$Price"] = total_purchase_value_df["Price"].map("${:.2f}".format)
total_purchase_value_df.rename(columns = {"$Price":"Total Purchase Value"}, inplace=True)



#♬Sometimes its a series.... sometimes its a 1 dimensional df.♪♬
total_purchase_value = total_purchase_value_df["Total Purchase Value"].rename("Total Purchase Value")

In [17]:
avg_per_person = total_purchase_value_df["Price"] / gender_df["Total Count"]

#Ok, lets make it 2 decimals and add some $ signs
avg_per_person = avg_per_person.round(2).map("${:.2f}".format)
avg_per_person.rename("Avg Purchase per Person", inplace=True)

Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
Name: Avg Purchase per Person, dtype: object

In [18]:
purchase_anal_summary = pd.concat([purchase_count, gender_mean_price, total_purchase_value, avg_per_person], axis=1)

#PURCHASING ANALYSIS (GENDER) HERE!
purchase_anal_summary

/Users/minglei/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
#Check to see what max age should be. If the oldest person is less than 40, just set it to 40 and the bucket will be empty. Apparently there is no way to set the last bin as ">39" or something to that effect.
if max(pd_df_unique["Age"]) > 39:
    max_age = max(pd_df_unique["Age"])
else:
    max_age = 40

bins = [0,9,14,19,24,29,34,39, max_age]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)
pd_df_unique["Age Group"] = pd.cut(pd_df_unique["Age"], bins, labels=group_names)
bin_total_count = pd_df_unique["Age Group"].value_counts(sort=False).rename("Total Count")

/Users/minglei/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [20]:
bin_percent = bin_total_count*100/total_players
bin_percent = bin_percent.round(2).rename("Percentage of Players")

In [21]:
#TODO: Just got to merge the two together. Oh! Rename the two series first. They both already use bucket as index

age_demo = pd.concat([bin_total_count, bin_percent], axis=1)
age_demo

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Can't use unique here. We're looking at sales now, not people.

pd_df["Age Group"] = pd.cut(pd_df["Age"], bins, labels=group_names)

#PA short for purchasing analysis
pa_age = pd_df["Age Group"].value_counts(sort=True)

In [23]:
pa_avg = pd_df.groupby("Age Group")["Price"].mean().map("${:.2f}".format)

In [24]:
pa_total_purchase = pd_df.groupby("Age Group")["Price"].sum()
# pa_total_purchase

In [25]:
pa_avg_total_PP = pa_total_purchase / bin_total_count
pa_avg_total_PP = pa_avg_total_PP.map("${:.2f}".format) 
#At this point I should refactor pd_df.groupby("Age Group") but... oh well. Maybe later in life.
# pa_avg_total_PP

In [26]:
pa_summary = pd.concat([pa_age, pa_avg, pa_total_purchase, pa_avg_total_PP], axis=1)

pa_summary.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]

pa_summary["Total Purchase Value"] = pa_summary["Total Purchase Value"].map("${:.2f}".format)

pa_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
#ts is short for top spenders. 
#tpv means total purchase value.

ts_tpv = pd_df.groupby("SN")["Price"].sum().sort_values(ascending=False).head(5)

ts_tpv_df = pd.DataFrame({"SN": ts_tpv.index, "Total Purchase Value": ts_tpv})

In [28]:
#I'm doing this to create two dataframes that I can use a merge on later.
ts_tpv_df = ts_tpv_df.reset_index(drop=True)

#This can definitely be refactored in some way since I'm going from DF to Series, back to DF so I can merge.

In [29]:
top_purchase_counts = pd_df["SN"].value_counts()
tpc_df = pd.DataFrame({"Purchase Count": top_purchase_counts})
tpc_df = tpc_df.reset_index().rename(columns={"index":"SN"})

In [30]:
top_five_purchase_count_merged = pd.merge(ts_tpv_df, tpc_df, on="SN", how="left")
# pd.merge(series_of_SN_of_top_spenders, sn_purchase_counts, on="SN", how="inner")
# sn_purchase_counts
top_five = top_five_purchase_count_merged.set_index("SN")

#Lets make the average purchase price
top_five["Average Purchase Price"] = top_five["Total Purchase Value"]/top_five["Purchase Count"]

top_five["Total Purchase Value"] = top_five["Total Purchase Value"].map("${:.2f}".format)
top_five["Average Purchase Price"] = top_five["Average Purchase Price"].map("${:.2f}".format)

tf_final = top_five[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
tf_final

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
pd_df.columns
# item_price = pd_df.dropna(subset=["Price"]).set_index("Item ID")["Price"].rename("Item Price")
item_price = pd_df.dropna(subset=["Price"])[["Item ID", "Price"]]
# item_price = item_price.drop_duplicates(keep="first")

In [32]:
total_purchase_value = pd_df.groupby("Item ID")["Price"].sum().rename("Total Purchase Value")
total_purchase_value_dollar_format = total_purchase_value.map("${:.2f}".format)
total_purchase_count = pd_df["Item ID"].value_counts().rename("Purchase Count")
item_name = pd_df.set_index("Item ID")["Item Name"].drop_duplicates().rename("Item Name")
#all of above are series

In [35]:
# most_popular_items = pd.concat([item_name, total_purchase_count, item_price, total_purchase_value_dollar_format], axis=1)
most_popular_items = pd.concat([item_name, total_purchase_count, item_price, total_purchase_value], axis=1)

most_popular_items = most_popular_items.sort_values(by="Purchase Count", ascending=False)

most_popular_items = most_popular_items.drop('Item ID', axis=1)
most_popular_items["Total Purchase Value"] = most_popular_items["Total Purchase Value"].map("${:.2f}".format)
most_popular_items["Price"] = most_popular_items["Price"].map("${:.2f}".format)
most_popular_items= most_popular_items.rename_axis("Item ID")
most_popular_items.head(5)

,Item Name,Purchase Count,Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,$4.60,$50.76
145,Fiery Glass Crusader,9.0,$1.33,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9.0,$1.75,$31.77
82,Nirvana,9.0,$4.40,$44.10
19,"Pursuit, Cudgel of Necromancy",8.0,$4.64,$8.16

## Most Profitable Items

In [36]:
most_profitable_items = pd.concat([item_name, total_purchase_count, item_price, total_purchase_value], axis=1)

most_profitable_items = most_profitable_items.sort_values(by="Total Purchase Value", ascending=False)
most_profitable_items = most_profitable_items.drop('Item ID', axis=1)
most_profitable_items["Price"] = most_profitable_items["Price"].map("${:.2f}".format)
most_profitable_items["Total Purchase Value"] = most_profitable_items["Total Purchase Value"].map("${:.2f}".format)
most_profitable_items = most_profitable_items.rename_axis("Item ID")
most_profitable_items.head(5)

,Item Name,Purchase Count,Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,$4.60,$50.76
82,Nirvana,9.0,$4.40,$44.10
145,Fiery Glass Crusader,9.0,$1.33,$41.22
92,Final Critic,8.0,$3.94,$39.04
103,Singed Scalpel,8.0,$1.33,$34.80